html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  height: 100%;

  @include flexibleFonts(1920);

  @include desktop {
    @include flexibleFonts(1440)
  }

  @include small-desktop {
    @include flexibleFonts(1024,9)
  }

  @include large-tablet {
    @include flexibleFonts(922,9)
  }

  @include tablet {
    @include flexibleFonts(768)
  }

  @include large-phone {
    @include flexibleFonts(576)
  }

  @include phone {
    @include flexibleFonts(420)
  }

  @include mini-phone {
    @include flexibleFonts(320)
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 1.6rem;
  background: var(--dark-blue  );

  &--fixed {
    overflow-y: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

input {
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}