:root {
  --light-color: #fff;
  --black-color: #222;
  --black-color-two: #262626; 
  --text-color: #4B4B4B;
  --link-color: #3043A9;
  --dark-blue: #161D2F;
  --green-apple-color: #63C776;
  --btn-color:  linear-gradient(97deg, #3043A9 11.99%, #1F629F 96.6%);
  --background-grd-color: linear-gradient(90deg, #09203F 0%, #161D2F 100%);
}
